name: docker publish nightly

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GH_USERNAME }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Build and push with ui
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ghcr.io/${{ secrets.GH_USERNAME }}/kopia_rclone_docker:nightly
          platforms: linux/amd64,linux/arm/v7,linux/arm64/v8
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: Dockerfile

      - name: Build and push without ui
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ghcr.io/${{ secrets.GH_USERNAME }}/kopia_rclone_docker:nightly-noui
          platforms: linux/amd64,linux/arm/v7,linux/arm64/v8
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: Dockerfile
          build-args: |
            KOPIA_BUILD_TYPE=noui
